*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster',cursive;
    text-decoration: none;
}
.navar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Rubik','sans-serif';
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik','sans-serif';
    border: 2px solid rgb(248, 26, 92);
}
.btn0{
    height: 40px;
    width: 40%;
    border: none;
    outline: none;
    background:  rgb(248, 26, 92);
    color: rgb(255, 255, 255);
    border-radius: 60px;
    font-weight: 70px;
}
/* Anh bia trang */
.main{
    background: url(/images/Mercedes-Benz1.jpg);/*Add image */
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    color: white;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
h1{
    font-weight: 700;
}
.btn1:hover{
    background-color: rgb(227, 69, 69);
    transition: 0.5s;
}
.card:hover{
    box-shadow: -4px -5px 39px -1px rgba(0,0,0,0.6);
    -webkit-box-shadow: -4px -5px 39px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: -4px -5px 39px -1px rgba(0,0,0,0.6);
    transition: 0.5s;
}
.apple{
    background:url(/images/Mercedes-Benz1.jpg) no-repeat;
    background-size: cover;
    height:120vh;
    width: 100%;
}
.apple h1{
    font-family: 'Lobster',cursive;

}
.icon-flex{
    display: flex;
    flex-direction: row;
    
}
.news{
    background-color: black;
    color: white;
}
.news::placeholder{
    color: white;
}
.news p{
    margin: 0;
}
.icon-container{
    display: flex;
    flex-direction: row;
}

